[Unit]
Description="Script that Warn about high CPU and RAM usage in logs"

[Service]
ExecStart="/usr/local/sbin/chkd.py"
ExecStop="pkill chkd"
ExecRestart="pkill chkd && /usr/local/sbin/chkd.py"

[Install]
WantedBy=multi-user.target
